body
{
    padding: 0;
    margin: 0;
    background: #000000;
}
.navbar
{
    background: rgb(0, 0, 0);
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link
{
    margin-right: 1em !important;
}
.nav-link:hover
{
    color: rgb(58, 58, 58);
}
.navbar-collapse
{
    justify-content: flex-end;
}
.header
{
    background-image: url('./image/gym.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay
{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.description
{
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}
.description p
{
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}
.description button
{
    border:1px solid #122a4b;
    background:#122a4b;
    border-radius: 0;
    color:#fff;
}
.description button:hover 
{
    border:1px solid #fff;
    background:#fff;
    color:#000;
}
.features 
{
    margin: 4em auto;
    padding: 1em;
    position: relative;
}
.feature-title 
{
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features img 
{
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}
.features .form-control,
.features input
{
    border-radius: 0;
}
.features .btn 
{
    background-color: #589b37;
    border: 1px solid #589b37;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.features .btn:hover 
{
    background-color: rgb(0, 0, 0);
    border: 1px solid #333;
}
.background 
{
    background: #000000;
    padding: 4em 0;
}
.team 
{
    color: #ffffff;
    padding: 0 180px;
}
.team .card-columns 
{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
.team .card 
{
    background:none;
    border: none;
}
.team .card-title 
{
    font-size: 1.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
}
.page-footer 
{
    background-color: #222;
    color: rgb(255, 255, 255);
    padding: 60px 0 30px;
}
.footer-copyright 
{
    color: #666;
    padding: 40px 0;
}

header h1 {
    margin-top: 10%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}
 
table {
    margin-top: 2%;
    width: max-content;
    border: 1px solid black;
    height: 300px;
    margin-left: 23%;
}
 
td {
    text-align: center;
    border: 1px solid black;
}
 
#blank {
    color: #000;
    background-color: #fff;
}
 
#s {
    font-weight: 800;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #ffffff;
}
 
#seminar {
    font-weight: 800;
    font-family: sans-serif;
    background-color: #ffffff;
    text-transform: uppercase;
}
 
#sub {
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}
 
#sub1 {
    background-color: #fff;
}
 
#sub2 {
    color: black;
    text-transform: uppercase;
    background-color: #ffffff;
}
 
#sub3 {
    background-color: #ffffff;
    font-family: sans-serif;
    font-weight: 800;
}
 
#box1 {
    color: cornflowerblue;
    font-family: sans-serif;
    font-weight: 800;
}
 
#box2 {
    color: darkorange;
    font-weight: 800;
    font-family: sans-serif;
}
 
#box3 {
    color: darkviolet;
    font-weight: 800;
    font-family: sans-serif;
}
 
#box4 {
    color: green;
    font-weight: 800;
    font-family: sans-serif;
}
 
#box5 {
    color: red;
    font-family: sans-serif;
    font-weight: 800;
}
 
#box6 {
    color: hotpink;
    font-weight: 800;
    font-family: sans-serif;
}
 
#box7 {
    color: blue;
    font-family: sans-serif;
    font-weight: 800;
}